body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

nav {
	background-color: #666;
	color: #fff;
	padding: 10px;
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	display: inline;
	margin-right: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #fff;
}

nav ul li a:hover {
	text-decoration: underline;
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 20px;
	padding: 20px;
}

.sidebar {
	background-color: #f4f4f4;
	padding: 20px;
}

.main-content {
	background-color: #fff;
	padding: 20px;
	border: .5px dotted gray;
}

.additional-content {
	background-color: #ddd;
	padding: 20px;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}